:root {
    height: 100%;
}

body {
    display: grid;
    height: 100%;
    margin: 0;
    grid-template: 1fr 6fr / 1fr 4fr;
}

header {
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template-rows: auto 2fr;
    padding: 16px 32px 16px 32px; 
    row-gap: 32px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 8px;
}

.search {
    display: flex;
    column-gap: 8px;
}

.search-bar-container {
    flex-grow: 1;
}

#search_bar {
    box-sizing: border-box;
    width:100%;
}

.header-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    justify-self: end;
}

.user {
    display: flex;
    column-gap: 8px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom h2,
.header-bottom h3 {
    margin: 0;
}

.hi-user {
    display: flex;
    column-gap: 32px;
    justify-self: start;
}

#header-buttons {
    display: flex;
    justify-self: end;
    column-gap: 32px;
    align-items: center;
}

.sidebar {
    background-color: lightcoral;
    grid-area: 1 / 1 / span 2 / 1;
}

main {
    background-color: lightslategrey;
    grid-area: 2 / 2 / span 1 / 2;
}

